.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
    margin-right: 10px;

}

.animated {
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 0.4s ease-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.settings-button {
    width: 32px;
    height: 32px;
    border-radius: 40px;
    border: 0.6px solid #CECECE;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 1px -1px 3px 0px rgba(255, 255, 255, 0.25) inset, -1px -1px 2px 0px rgba(255, 255, 255, 0.60), -1px -1px 4px 0px rgba(255, 255, 255, 0.60), 1px 1px 2px 0px rgba(0, 0, 0, 0.10), 1px 1px 3px 0px rgba(0, 0, 0, 0.20);
}

.settings-button > img {
    width: 17.37px;
    height: 17.37px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 340px;
    height: 104px;
    border-radius: 20px;
    border: 2px solid rgba(185, 185, 185, 0.90);
    background: #A4A4A4;
    outline: 8px solid #A4A4A4;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.profile-avatar {
    margin-left: 18px;
    width: 82px !important;
    height: 82px !important;
    border-radius: 8px;
    margin-right: 26px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info-nickname {
    color: #FFF;
    font-family: MontserratExtraBold;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
    line-height: 10px;
    margin-bottom: 5px;
}

.profile-info-username {
    font-size: 12px;
    color: #DBDBDB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
}

.profile-info-date {
    color: #DBDBDB;
    font-size: 12px;
    margin-top: 10px;

}

.profile-statistics {
    margin-top: 20px;
    width: 360px;
    height: 185px;
    border-radius: 14px;
    background: #F7F7F7;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.20), 1px 1px 10px 0px rgba(0, 0, 0, 0.20), -2px -2px 12px 0px rgba(255, 255, 255, 0.30) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.30) inset;
}

.statistics-title {
    margin-top: 10px;
    color: #040404;
    text-align: center;
    font-size: 20px;
}

.statistics-list {
    margin-top: 17px;
    margin-left: 26px;
    margin-right: 26px;
    color: #ADADAD;
    font-size: 14px;
}

.statistics-position {
    display: flex;
    align-items: baseline;
}

.statistics-position::first-letter {
    text-transform: capitalize;
}

.statistics-position::before {
    content: ''; /* Выводим линию */
    border-bottom: 1px solid #ccc; /* Параметры линии */
    flex-grow: 1; /* Линия занимает всё доступное пространство */
    order: 2; /* Выводим вторым */
    margin-bottom: 10px;
    margin-right: 5px;
}

.statistics-position > span {
    order: 3;
    color: black;
}

.last-update-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-update {
    width: 207px;
    height: 19px;
    background-color: #F9EBD1;
    color: #FBAC18;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 4px;
}

.game-history {
    margin-top: 10px;
    width: 360px;
    height: calc(100vh - 610px);
    border-radius: 14px;
    background: #F7F7F7;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.20), 1px 1px 10px 0px rgba(0, 0, 0, 0.20), -2px -2px 12px 0px rgba(255, 255, 255, 0.30) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.30) inset;
} 

.history-title-container {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-title {
    width: 118px;
    height: 28px;
    color: #040404;
    vertical-align: top;
    font-size: 15px;
    font-family: DarkerGrotesqueBold, MontserratBold;
    border-radius: 12px;
    border: 1px solid #FFB835;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10), 1px 1px 3px 0px rgba(0, 0, 0, 0.20), 1px -1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    color: #181818;
    line-height: 26px; /* 125% */
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.history-title > span {
    vertical-align: top;
}

span > a {
    color: #ADADAD;
}

.history-list {
    margin-top: 17px;
    margin-left: 26px;
    margin-right: 26px;
    color: #ADADAD;
    font-size: 14px;
    overflow-y: auto;
    max-height: calc(100vh - 703px);;
    padding: 10px;
    margin-top: 10px;
}

.history-list::-webkit-scrollbar {
    width: 5px; /* Ширина скроллбара */
}

.history-list::-webkit-scrollbar-track {
    background: #f0f0f0; /* Цвет фона трека */
    border-radius: 10px; /* Закругленные углы трека */
}

.history-list::-webkit-scrollbar-thumb {
    background: #ffb835; /* Цвет скроллбара */
    border-radius: 10px; /* Закругленные углы скроллбара */
}

.history-list::-webkit-scrollbar-thumb:hover {
    background: #e0a32a; /* Цвет при наведении на скроллбар */
}

@media (max-height: 600px) {
    .history-title-container {
        margin-top: 8px;
    }

    .history-title {
        width: 97px;
        height: 23px;
        line-height: 20px;
        font-size: 17px;
    }

    .history-list {
        max-height: calc(100vh - 562px);
    }
}