.notifications-container {
    position: fixed;

    top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) + 5px);
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    width: calc(100vw - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s forwards;
    color: rgba(255, 255, 255, 1);
    background-color: #b0b0b0;
    border: 2px solid rgba(16, 16, 16, 0.1);
    border-radius: 12px;
}

.notification-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.notification-message { flex: 1; line-height: 0.72;}
.notification-close {
    width: 10px;
    height: 10px;
    padding: 7px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    margin-left: auto;
}
.notification-closing {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%); 
    }
}

