.variants-selecting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.variants-selecting-container > span {
    font-size: 24px;
    font-family: MontserratBold;
    margin-bottom: 20px;
}

.selecting-variant {
    margin-bottom: 25px;
    width: 270px;
    height: 44px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    outline: 5px solid #FFF;
    justify-content: space-between;
    font-size: 16px;
    background: #FFF;
    box-shadow: -2px -2px 12px 0px rgba(255, 255, 255, 0.30) inset, 
                -2px -2px 4px 0px rgba(255, 255, 255, 0.30) inset, 
                1px 1px 3px 0px rgba(0, 0, 0, 0.15), 
                1px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.selecting-variant-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
}


.selecting-variant img {
    width: 8px;
    height: 13px;
    margin-right: 15px;
}

.invite-friends-container {
    margin-top: 5px;
    height: 300px;
}

.not-online {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.active-friends-list {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: calc(100vh - 658px);
}

.active-friends-list::-webkit-scrollbar {
    width: 0px;
}
